#audio-visualizer{
    background-image: url('https://images7.alphacoders.com/317/317275.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#album-cover{
    background-image: none;
    background-size: cover;
    width: 400px;
    height: 400px;
}

#controls-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 206px;
    width: 100%;
    top: 216px;
}

#controls-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.85);
    width: 100%;
    height: 100%;
}

.slider_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 20px;
}

.seek_slider {
    width: 90%;
    height: 2px;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, rgb(50,30,200) 0%, rgb(251,243,236) 0%);
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: rgb(251,243,236);
    cursor: pointer;
    overflow: visible;
}

.current-time,
.total-duration {
  padding: 10px;
  color: black;
}

#song-info{
    display: flex;
    flex-direction: column;
}

#song-title{
    margin: 0;
    text-align: center;
    font-size: 28px;
}

#song-artist{
    margin: 0;
    padding: 5px 0 20px 0;
    text-align: center;
    font-size: 14px;
}

#controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding-bottom: 10px;
}

#play-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.icon-spacing{
    margin: 0 10px 0 10px;
}

.icon-spacing-end{
    margin: 0 0 0 10px;
}   

#volume-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#volume-icon{
    margin: 0 10px 0 0;
}

#volume-slider{
    width: 200px;
    height: 6px;
    border-radius: 12px;
}

.volume-slider-hidden{
    display: none;
}

.volumeSlider{
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, rgb(168,221,240) 100%, rgb(251,243,236) 100%);
    margin: 0 10px 0 0;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: rgb(251,243,236);
    cursor: pointer;
    overflow: visible;
}

#right-controls{
    padding-right: 20px;
}

.button-cursor-pointer{
    cursor: pointer;
}

#fileupload{
    color: white;
    z-index: 1;
}

#playbackSpeeds {
    visibility: hidden;
}

input[type="file"] {
    display: none;
}