#main {
    background-color: #D3D3D3;
    height: 100%;
    width: 2031px;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    font-size: 45px;
    font-family: Helvetica, sans-serif;  
}

#title-subheading {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 50px;
}

#img-div {
    background: white;
    padding: 15px;
}

#image {
    max-width: 100%;
    margin: auto auto;
    display: block;
}

#img-caption {
    text-align: center;
    margin-top: 20px;
}

.paragraph-format {
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 600px;
}

#important-life-events {
    text-align: left;
    margin: 0 auto 50px auto;
    max-width: 600px;
}